<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.6.4.js"
      integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  </head>
  <body>
    <div id="app2">
      <!-- input의 value 속성이 비어 있으면 모든 데이터(dataList)가 보이고 검색을 하면 해당되는 데이터만 보이도록 -->
      <input type="text" />
      <ul></ul>
    </div>

    <script>
      let dataList = ["설악산", "한라산", "북한산", "백두산", "지리산"];
      $(document).ready(function () {
        //document 돔이 다 만들어지면 실행
        init();
        //id가 app2인 dom자식 중 input, type=text인 놈들중 인덱스가 0인 자식을 가져오라는 뜻, 가져온게 change이벤트 발생하면 뒤에 함수changeData 실행
        $("#app2 > input:text:eq(0)").on("change", changeData);

        //검색내용을 데이터랑 비교해서 있으면 ul에 그리는
        function changeData() {
          $("#app2 > ul:first").empty(); //안의 내용 비우는거 .remove는 본인까지 삭제

          let keyword = $("#app2 > input:text:eq(0)").val(); //검색input창의 내용을 담음
          if (keyword != "") {
            $(dataList).each(function (idx, val) {
              //val엔 dataList가 하나씩 담김
              if (val.match(keyword)) {
                //match data랑 keyword랑 비교해서 있으면 true
                $("#app2 > ul:first").append($("<li/>").text(val));
              }
            });
          }
        }

        //ul에 li만들어서 li에 데이타 넣는
        function init() {
          $(dataList).each(function (idx, val) {
            $("#app2 > ul").append($("<li />").text(val));
          });
        }
      });
    </script>

    <div id="app3">
      <input type="text" v-model="findWord" />
      <ul>
        <li v-for="item in findItems">{{item}}</li>
      </ul>
    </div>

    <script>
      let myArray = ["설악산", "한라산", "북한산", "백두산", "지리산"];
      new Vue({
        el: "#app3",
        data: {
          findWord: "",
          items: myArray,
        },
        computed: {
          findItems: function () {
            if (this.findWord) {
              return this.items.filter(function (value) {
                return value.indexOf(this.findWord) > -1;
              }, this);
            } else {
              return this.items;
            }
          },
        },
      });
    </script>

    <div id="app4">
      <p v-bind:style="{backgroundColor : mixColor}">{{mixColor}}</p>
      <input type="range" v-model="R" min="0" max="255" />
      <input type="range" v-model="G" min="0" max="255" />
      <input type="range" v-model="B" min="0" max="255" />
    </div>

    <script>
      new Vue({
        el: "#app4",
        data: {
          R: 255,
          G: 150,
          B: 100,
        },
        computed: {
          mixColor: function () {
            var ans = "RGB(" + this.R + "," + this.G + "," + this.B + ")";
            return ans;
          },
        },
      });
    </script>
  </body>
</html>
